page-doc {

}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.cardTit{
    font-weight: bold;
}

.touchimg{
    height: 100px;
    width: auto;

}

.modal{
    padding: 20%, 30%;
}