<!--
  Generated template for the DocPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

  <ion-fab right bottom>
    <button ion-fab (click)="modalParametros()"><ion-icon name="search"></ion-icon></button>
  </ion-fab>

  <ion-grid>
  
    <h1>Documentación</h1>

    <ion-row>
      <ion-col col-lg-2></ion-col>
      <ion-col col-lg-8 col-12 >
        <ion-card id="sec1">
          <ion-card-header class="cardTit">
            <ion-card-title>
              1 .- Descripción de la aplicación
            </ion-card-title>
          </ion-card-header>
          <p>ColArt es una nueva red social ideada para el descubrimiento, creación y
              colaboración artística entre usuarios de todo el mundo.</p>
          <p>ColArt busca proporcionar al artista las herramientas que pueda necesitar
            tanto antes como tras levantar los pinceles del lienzo. Descubre nuevas
            inspiraciones en tantos otros artistas que utilizan la plataforma, da tu
            creación a conocer y sobretodo, encuentra nuevos o conocidos artistas
            con los que realizar obras colaborativas.</p>
          <p>Se busca que la aplicación sea tan intuitiva como sea posible, a la vez que
            ofrezca cuantas herramientas puedan ser necesarias para los usuarios, al
            igual que un nuevo instrumento, la aplicación debe ser usable desde el
            primer minuto, además de ofrecer completa libertad a quienes lo dominen.</p>
        </ion-card>

        <ion-card id="sec2">
          <ion-card-header class="cardTit">
            <ion-card-title>
              2 .- Público objetivo
            </ion-card-title>
          </ion-card-header>
          <p>La aplicación se ve dirigida principalmente tanto a artistas de cualquier
            disciplina, autores de contenido propio que buscan compartir, como a
            cualquier otra persona que quiera mantenerse al tanto de las publicaciones
            de sus artistas favoritos o descubrir a nuevas grandes promesas.</p>
          <p>Se busca que la aplicación sea tan intuitiva como sea posible, a la vez que
            ofrezca cuantas herramientas puedan ser necesarias para los usuarios, al
            igual que un nuevo instrumento, la aplicación debe ser usable desde el
            primer minuto, además de ofrecer completa libertad a quienes lo dominen.</p>
        </ion-card>

        <ion-card id="sec3">
          <ion-card-header class="cardTit">
            <ion-card-title>
              3 .- Funcionalidades de la aplicación
            </ion-card-title>
          </ion-card-header>
          <h2>Gestión de publicaciones</h2>
          <p>Divididas en comunidades, navega las disciplinas que te interesen y observa lo
            que el mundo tiene a ofrecer.</p>
            <ul>
              <li class="listhead">
                <p>Crea publicaciones sobre tu contenido.</p>
                <ul>
                  <li>Interactúa con otros usuarios interesados en tu publicación.</li>
                  <li>Publica contenido multimedia</li>
                </ul>
              </li>
              <li class="listhead">
                <p>Visualiza las publicaciones de otros usuarios.</p>
                <ul>
                  <li>Comenta o contesta otros comentarios en las publicaciones.</li>
                  <li>Visualiza contenidos multimedia.</li>
                  <li>Guarda publicaciones como favoritas.</li>
                </ul>
              </li>
            </ul>
        </ion-card>

        <ion-card id="sec4">
          <ion-card-header class="cardTit">
            <ion-card-title>
              4 .- Interacciones
            </ion-card-title>
          </ion-card-header>
          <ul>
            <li>
              <ion-row>
                <ion-col col-sm-9 col-12>
                  <p><b>Tap</b></p>
                  <p>● Inteactúa con multitud de elementos pulsando sobre ellos.</p>
                </ion-col>
                <ion-col col-sm-3 col-12>
                  <img src="assets/imgs/touch/tap.png" class="touchimg">
                </ion-col>
              </ion-row>
            </li>
            <li>
              <ion-row>
                <ion-col col-sm-9 col-12>
                  <p><b>Scroll</b></p>
                  <p>● Navega a lo largo de los contenidos en la pantalla.</p>
                </ion-col>
                <ion-col col-sm-3 col-12>
                  <img src="assets/imgs/touch/scroll.png" class="touchimg">
                </ion-col>
              </ion-row>
            </li>
            <li>
              <ion-row>
                <ion-col col-sm-9 col-12>
                  <p><b>Swipe</b></p>
                  <p>● Navega entre elementos o muestra la barra de navegación lateral
                      deslizando desde los bordes.</p>
                </ion-col>
                <ion-col col-sm-3 col-12>
                  <img src="assets/imgs/touch/swipe.png" class="touchimg">
                </ion-col>
              </ion-row>
            </li>
            <li>
              <ion-row>
                <ion-col col-sm-9 col-12>
                  <p><b>Pinch</b></p>
                  <p>● Amplia o reduce elementos multimedia gradualmente.</p>
                </ion-col>
                <ion-col col-sm-3 col-12>
                  <img src="assets/imgs/touch/pinch.png" class="touchimg">
                </ion-col>
              </ion-row>
            </li>
            <li>
              <ion-row>
                <ion-col col-sm-9 col-12>
                  <p><b>Double tap</b></p>
                  <p>● Alterna entre niveles de zoom en elementos multimedia</p>
                </ion-col>
                <ion-col col-sm-3 col-12>
                  <img src="assets/imgs/touch/double.png" class="touchimg">
                </ion-col>
              </ion-row>
            </li>
            <li>
              <ion-row>
                  <ion-col col-sm-9 col-12>
                    <p><b>Entrada de texto</b></p>
                    <p>● Introduce textos en diversos elementos</p>
                  </ion-col>
                </ion-row>

            </li>
          </ul>
          </ion-card>

      </ion-col>
      <ion-col col-lg-2></ion-col>
    </ion-row>

  </ion-grid>
  
  
  
  

</ion-content>
