
<ion-content padding class="content">

    <ion-fab bottom right>
        <button ion-fab><ion-icon name="add"></ion-icon></button>

        <ion-fab-list side="top">
            <button ion-fab color="primary" (click)="scrollTo('sec4')"><ion-icon name="color-palette"></ion-icon></button>
            <button ion-fab color="primary" (click)="scrollTo('sec3')"><ion-icon name="create"></ion-icon></button>
            <button ion-fab color="primary" (click)="scrollTo('sec2')"><ion-icon name="eye"></ion-icon></button>
            <button ion-fab color="primary" (click)="scrollTo('sec1')"><ion-icon name="compass"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col col-lg-3 col-1></ion-col>
            <ion-col col-lg-6 col-10>
                <img class="logo" src="assets/imgs/colLogo.png"/>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-lg-3 col-1></ion-col>
            <ion-col col-lg-6 col-10>
                <div>
                    <ion-card class="intro">
                        <p>ColArt es una nueva red social ideada para el descubrimiento, creación y colaboración artística entre usuarios de todo el mundo.</p>
                    </ion-card>
                </div>
            </ion-col>
            <ion-col col-lg-3 col-1></ion-col>
        </ion-row>

        <ion-row id="sec1">
            <ion-col col-lg-2 col-0></ion-col>
            <ion-col col-lg-8 col-12>
                <ion-card>
                    <ion-card-content class="cardcontent">
                        <ion-row>
                            <ion-col col-lg-4 col-12>
                                <img src="/assets/imgs/screens/explora.png" class="guideImgs"/>
                            </ion-col>
                            <ion-col>
                                <h1>Explora</h1>
                                <ion-card>
                                    <p>Los diferentes medios de creación se encuentran separados por secciones para facilitarte la busqueda de obras y artistas.</p>
                                </ion-card>
                            </ion-col>
                        </ion-row>

                        <p></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-lg-2 col-0></ion-col>
        </ion-row>

        <ion-row id="sec2">
            <ion-col col-lg-2 col-0></ion-col>
            <ion-col col-lg-8 col-12>
                <ion-card>
                    <ion-card-content class="cardcontent">
                        <ion-row>
                            <ion-col col-lg-4 col-12>
                                <img src="/assets/imgs/screens/descubre.png" class="guideImgs"/>
                            </ion-col>
                            <ion-col>
                                <h1>Descubre</h1>
                                <ion-card>
                                    <p>Dentro de cada sección podras encontrar todas las publicaciones de los otros usuarios</p>
                                    <p>Marca tus favoritas, comenta e interactua con el artista y los demás usuarios interesados en la publicación.</p>
                                </ion-card>
                            </ion-col>
                        </ion-row>

                        <p></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-lg-2 col-0></ion-col>
        </ion-row>

        <ion-row id="sec3">
            <ion-col col-lg-2 col-0></ion-col>
            <ion-col col-lg-8 col-12>
                <ion-card>
                    <ion-card-content class="cardcontent">
                        <ion-row>
                            <ion-col col-lg-4 col-12>
                                <img src="/assets/imgs/screens/comparte.png" class="guideImgs"/>
                            </ion-col>
                            <ion-col>
                                <h1>Comparte</h1>
                                <ion-card>
                                    <p>Crea tus propias publicaciones, proporciona un título y añade un texo. Dale voz a tus obras y ofrécelas al mundo</p>
                                </ion-card>
                            </ion-col>
                        </ion-row>

                        <p></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-lg-2 col-0></ion-col>
            
        </ion-row>

        <ion-row id="sec4">
            <ion-col col-lg-2 col-0></ion-col>
            <ion-col col-lg-8 col-12>
                <ion-card>
                    <ion-card-content class="cardcontent">
                        <ion-row>
                            <ion-col col-lg-4 col-12>
                                <img src="/assets/imgs/screens/colabora.png" class="guideImgs"/>
                            </ion-col>
                            <ion-col>
                                <h1>Colabora</h1>
                                <ion-card>
                                    <p>Comenta en publicaciones de otros usuarios y ponte en contacto con otros artistas para dar vida a obras colaborativas</p>
                                </ion-card>
                            </ion-col>
                        </ion-row>

                        <p></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col col-lg-2 col-0></ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
