page-guia {

}

.content{
    background: linear-gradient(to right, #c0bebb, #ffffff);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    height: auto;
    max-width: 400px;
}

.intro{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 16px 24px;
    text-justify: auto;
}

.card{
    padding: 20px;
}

.cardcontent{
    display: inline;
}

.cardcontent h1{
    font-weight: bold;
    font-size: 45px;
}

.card p{
    padding: 4px;
    font-size: 16px;
}

.guideImgs{
    border:1px solid black;
    max-height: 250px;
    
    object-fit: cover;
    object-position: 100% 0;
}
