<!--
  Generated template for the ModalIndicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div>
    <ion-searchbar mode=md (ionInput)="search($event)"></ion-searchbar>
    
    <ion-card>
      <ion-list>

        <button ion-item *ngFor="let sec of sectsShow" (click)="closeModal(sec.ref)">
            {{sec.name}}
        </button>
        
      </ion-list>
      
    </ion-card>
  </div>
</ion-content>
