
<ion-content padding>
  
    <ion-grid>
      <ion-row>
        <ion-col col-lg-2 col-1 ></ion-col>
        <!--style="background:black"-->
        <ion-col col-lg-8 col-10 >
          <ion-row style="text-align:center;">
            <ion-col col-xl-6 col-12 >
              <img class="logo" src="assets/imgs/colLogo.png"/>
              
              <p class="subtitle">
                An app for art showing, sharing and collaboration
              </p>

              <button ion-button icon-start 
                      [disabled]="disableAnBtt"
                      (click)="openLink('https://drive.google.com/file/d/1D3MxtD92ySOTJRwMkdj-ASyOptSM4KRU/view?usp=sharing')">
                  <ion-icon name="logo-android"></ion-icon>
                  Android
                </button>
              <button ion-button icon-start 
              [disabled]="disableIOsBtt"
              (click)="openToast()">
                  <ion-icon name="logo-apple"></ion-icon>
                Ios</button>
            
            </ion-col>
            <ion-col col-xl-6 col-12>
              <img src="/assets/imgs/screens/mainscreen.png"/>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
